{%- set prefix = base_prefix -%}
{%- set procedure_id = slugify(obj.id) -%}
{%- set procedure_type = slugify(obj.type) -%}
{%- set procedure_iri = '<' + prefix + procedure_type + '/' + procedure_id + '>' -%}
{%- set user_iri = '<' + prefix + 'user/' + obj.user + '>' -%}

@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .
@prefix heat: <https://w3id.org/heat#> .
@prefix sur: <https://w3id.org/survey-ontology#> .
@prefix bibo: <http://purl.org/ontology/bibo/> .
@prefix skos: <http://www.w3.org/2004/02/skos/core#> .
@prefix owl: <http://www.w3.org/2002/07/owl#> .
@prefix dc: <http://purl.org/dc/elements/1.1/> .
@prefix dcterms: <http://purl.org/dc/terms/> .

{{procedure_iri | safe}} a heat:Tool ;
  {% if obj.description %}
	dcterms:description """{{obj.description}}"""^^xsd:string ;
  {% endif %}
  {% if obj.modelDiagram %}
  {% if obj.modelDiagram.url %}
  heat:hasModelDiagram <{{obj.modelDiagram.url | safe}}> ;
  {% else %}
  heat:hasModelDiagram <{{obj.modelDiagram | safe}}> ;
  {% endif %}
  {% endif %}
  {% if obj.doi %}
	dcterms:isReferencedBy <{{obj.doi | safe}}> ;
  {% endif %}
  rdfs:label "{{obj.title}}"^^xsd:string .

<{{obj.doi | safe}}> a bibo:Document ;
	dcterms:description """{{obj.doiDescription}}"""^^xsd:string .

{% if obj.contextName %}
{%- set contextId = uuid4() -%}
{%- set context_iri = '<' + prefix + procedure_type + '/context/' + contextId + '>' -%}
{{procedure_iri | safe}} heat:hasContext {{context_iri | safe}} .

{{context_iri | safe}} a heat:Context ;
  {% if obj.contextDescription %}
	dcterms:description """{{obj.contextDescription}}"""^^xsd:string ;
  {% endif %}
  rdfs:label "{{obj.contextName}}"^^xsd:string .
{% endif %}

{% if obj.hasConstruct %}
{% for construct in obj.hasConstruct %}
{%- set constructId = uuid4() -%}
{%- set construct_iri = '<' + prefix + procedure_type + '/construct/' + constructId + '>' -%}
{{procedure_iri | safe}} heat:hasConstruct {{construct_iri | safe}} .

{{construct_iri | safe}} a heat:Construct ;
  {% if construct.constructDescription %}
	dcterms:description """{{construct.constructDescription}}"""^^xsd:string ;
  {% endif %}
  rdfs:label "{{construct.constructName}}"^^xsd:string .

  {% if construct.hasQuestion %}
  {% for question in construct.hasQuestion %}
  {%- set questionId = uuid4() -%}
  {%- set question_iri = '<' + prefix + procedure_type + '/question/' + questionId + '>' -%}
  {{construct_iri | safe}} heat:hasQuestion {{question_iri | safe}} .

  {{question_iri | safe}} a sur:Question ;
	  sur:questionText "{{question.questionText}}"^^xsd:string ;
    heat:hasLikertAnswer [
      a heat:LikertAnswer ;
      heat:numericalValueRange "{{question.likertAnswerNumericalRange}}"^^xsd:string ;
      heat:textualValueRange "{{question.likertAnswerTextualRange}}"^^xsd:string ;
      heat:isScaleReversed "{{question.isScaleReversed}}"^^xsd:boolean 
    ] .
  {% endfor %}
  {% endif %}

{% endfor %}
{% endif %}